
{box-sizing: border-box;}
body { 
width:100%;
background: #000 url(https://site50.github.io/react/img/fon.jpg);
font-family: Arial;
}
div{margin-left:3%;
width: 100%;
}
h1
{padding-top:0.2%;
font-size:38px;
color:white;
text-align:center;
}
.blue {
margin:1.2%;  /*расстояние между блоками  */
margin-top:7px;
margin-left:110px;
margin-bottom:110px;
float: left;
height:378px; 
width: 280px; 
background: white;
position: relative;
border: 5px solid #1E90FF;
border-top:none;
border-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.blue:before{content: "";
transform: rotate(180deg);
margin: -50px -5px 3px 3px;
float: right;
shape-outside: polygon(0px 167px, 235px 168px, 288px 100px, -1px 100px);/* ,,, */
clip-path:     polygon(0px 167px, 235px 168px, 288px 100px,-1px 100px);
background:  white;
height:142px; 
width: 320px; 
border: 5px solid #1E90FF;
border-radius: 10px;
z-index:1;  
}
.d19
{
transform: rotate(130deg);
height: 6px; 
width: 67.0px;
background: #1E90FF;
position:absolute;
left: -59.167px; 
top: -37px;
border-radius: 70px;
margin:12px 33px 33px 43px;
}
.pink {
margin:1.2%;  /*расстояние между блоками  */
margin-top:7px;
margin-left:110px;
margin-bottom:110px;
float: left;
height:378px; 
width: 280px; 
background: white;
position: relative;
border: 5px solid #DC143C;
border-top:none;
border-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.pink:before{content: "";
transform: rotate(180deg);
margin: -50px -5px 3px 3px;
float: right;
shape-outside: polygon(0px 167px, 235px 168px, 288px 100px, -1px 100px);/* ,,, */
clip-path:     polygon(0px 167px, 235px 168px, 288px 100px,-1px 100px);
background:  white;
height:142px; 
width: 320px; 
border: 5px solid #DC143C;
border-radius: 10px;
z-index:1;  display: block;
}
.d20
{
transform: rotate(130deg);
height: 6px; 
width: 67.0px;
background: #DC143C;
position:absolute;
left: -59.167px; 
top: -37px;
border-radius: 70px;
margin:12px 33px 33px 43px;
}
.silv {
margin:1.2%;  /*расстояние между блоками  */
margin-top:7px;
margin-left:110px;
margin-bottom:110px;
float: left;
height:378px; 
width: 280px; 
background: white;
position: relative;
border: 5px solid #808080;
border-top:none;
border-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.silv:before{content: "";
transform: rotate(180deg);
margin: -50px -5px 3px 3px;
float: right;
shape-outside: polygon(0px 167px, 235px 168px, 288px 100px, -1px 100px);/* ,,, */
clip-path:     polygon(0px 167px, 235px 168px, 288px 100px,-1px 100px);
background:  white;
height:142px; 
width: 320px; 
border: 5px solid #808080;
border-radius: 10px;
z-index:1;  display: block;
}
.d21
{
transform: rotate(130deg);
height: 6px; 
width: 67.0px;
background: #808080;
position:absolute;
left: -59.167px; 
top: -37px;
border-radius: 70px;
margin:12px 33px 33px 43px;
}
.p2{ position: relative;transform: scale(1, 1.2);
font-weight: 600;
top:-11%;
left:-2%;
font-size:13px;
color:#000;
}
.p3
{position: relative;font-weight: 600;
font-size:43px;left:-2%;
top:-30%;
color:#000;
text-align:center;}
.p4{position: relative;
font-weight: 600;
font-size:22px;
top:-42%;
left:-17%;
transform: scale(1, 1.1);
color:#000;
}
.p5{position: relative;
font-weight: 600;
top:-45%;
left:-26%;
font-size:12px;
color:#000;
}
.p6{position: relative;
font-weight: 600;
top:-48%;
left:-18%;
font-size:12px;
color:#000;
}
img{margin:-163px 57px 0px 0px;
width:223px;}
.img1{margin:-163px 57px 0px 0px;
width:223px;}
.cirk{position:absolute;
width:73px;
height:73px;
background-color:#1E90FF;
border-radius: 50px;
margin: -130px 196px;
}
.sin{position:absolute;
width:73px;
height:73px;
background-color:#DC143C;
border-radius: 50px;
margin: -130px 196px;
}
.sin1{position:absolute;
width:73px;
height:73px;
background-color:#DC143C;
border-radius: 50px;
margin: -144px 196px;
}
.csi{position:absolute;
width:73px;
height:73px;
background-color:#c0c0c0;
border-radius: 50px;
margin: -130px 196px;
}
.p7{position: relative;font-family:Kartika;
transform: scale(1, 1.2);
top:-19%;
left:-1%;
font-size:32px;
color:white;
}
.p8{position: relative;
top:-34px;
left:-1%;
font-size:17px;
color:white;
}
.p9{position: relative;text-decoration-line:dotted ;
top:12px;
left:-1%;
font-size:12px;
color:white;
}
.p10{ position: relative;transform: scale(1, 1.2);
font-weight: 600;
top:-11%;
left:-2%;
font-size:13px;
color:#c0c0c0;
}
.p11
{position: relative;font-weight: 600;
font-size:43px;left:-2%;
top:-30%;
color:#c0c0c0;
text-align:center;}
.p12{position: relative;
font-weight: 600;
font-size:22px;
top:-42%;
left:-17%;
transform: scale(1, 1.1);
color:#c0c0c0;
}
.p13{position: relative;
font-weight: 600;
top:-45%;
left:-26%;
font-size:12px;
color:#c0c0c0;
}
.p14{position: relative;
font-weight: 600;
top:-48%;
left:-18%;
font-size:12px;
color:#c0c0c0;
}
@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } 
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 992px) { div. contentblock {width: 970px;} }
