{box-sizing: border-box;}
body { 
width:100%;
background: #000 url(https://site50.github.io/react/img/fon.jpg);
}
h2{
padding-top:2rem;
color:white;
}
div{
width: 100%;
}
.blue {
margin-top:-1rem;  
margin-left: 4rem;
margin-bottom:110px;
float: left;
height:378px; 
width: 280px; 
background: white;
position: relative;
border: 5px solid #1E90FF;
border-top:none;
border-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.blue:before{content: "";
transform: rotate(180deg);
margin: -50px -5px 3px 3px;
float: right;
shape-outside: polygon(0px 167px, 235px 168px, 288px 100px, -1px 100px);/* ,,, */
clip-path:     polygon(0px 167px, 235px 168px, 288px 100px,-1px 100px);
background:  white;
height:142px; 
width: 320px; 
border: 5px solid #1E90FF;
border-radius: 10px;
z-index:1;  
}
.d19
{
transform: rotate(130.1deg);
    height: 6px;
    width: 3.3rem;
    background: #1E90FF;
    position: absolute;
       padding-left: 0.8rem;
    top: 6.8rem;
    border-radius: 70px;
    margin: 1px 2px 1px 53px;
}

.pink {
margin-top:-1rem;  
margin-left: 4rem;
margin-bottom:110px;
float: left;
height:378px; 
width: 280px; 
background: white;
position: relative;
border: 5px solid #DC143C;
border-top:none;
border-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.pink:before{content: "";
transform: rotate(180deg);
margin: -50px -5px 3px 3px;
float: right;
shape-outside: polygon(0px 167px, 235px 168px, 288px 100px, -1px 100px);/* ,,, */
clip-path:     polygon(0px 167px, 235px 168px, 288px 100px,-1px 100px);
background:  white;
height:142px; 
width: 320px; 
border: 5px solid #DC143C;
border-radius: 10px;
z-index:1;  
}
.d20
{
transform: rotate(130.1deg);
    height: 6px;
    width: 3.3rem;
    background: #DC143C;
    position: absolute;
        padding-left: 0.8rem;
    top: 6.8rem;
    border-radius: 70px;
    margin: 1px 2px 1px 53px;
}


.silv {
margin-top:-1rem;  
margin-left: 4rem;
margin-bottom:110px;
float: left;
height:378px; 
width: 280px; 
background: white;
position: relative;
border: 5px solid #808080;
border-top:none;
border-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.silv:before{content: "";
transform: rotate(180deg);
margin: -50px -5px 3px 3px;
float: right;
shape-outside: polygon(0px 167px, 235px 168px, 288px 100px, -1px 100px);
clip-path:     polygon(0px 167px, 235px 168px, 288px 100px,-1px 100px);
background:  white;
height:142px; 
width: 320px; 
border: 5px solid #808080;
border-radius: 10px;
z-index:1;  display: block;
}
.d21
{
transform: rotate(130.1deg);
    height: 6px;
    width: 3.3rem;
    background: #808080;
    position: absolute;
        padding-left: 0.8rem;
    top: 6.8rem;
    border-radius: 70px;
    margin: 1px 2px 1px 53px;
}
.p310{
    position: relative;
    transform: scale(1.7, 2);
    font-weight: 600;
    font-size: 13px;
    color: #000;
	width:7rem;
	top: -34rem;
}
.p320{

    position: relative;
    font-size: 15px;
    color: #000;
   transform: scale(3.4, 3.4);
width: 3rem;
    top: -33rem;
}
.p330{position: relative;
font-weight: 600;
font-size: 22px;
transform: scale(1, 1.1);
color: #000;
width: 12rem;
    top: -32rem;
}

.p340{position: relative;
font-size: 18px;
color: #000;
width: 12rem;
    top: -32rem;
}

.p350{position: relative;
font-size:17px;
color: #000;
width: 12rem;
    top: -32rem;
}

.p360{font-size: 17px;
    color: white;
    position: relative;
     width: 16rem;
    top: -14rem;
}

.p370{    font-size: 32px;
    color: white;
    position: relative;
    width: 4rem;
    left: 4.6rem;
    top: -8.1rem;
    
}

img{margin: -23rem 8rem 8.5rem 2rem;
position: relative;
width:168px;}
.img1{
position:absolute:
margin:-167px 57px 0px 0px;
width:168px;}
.cirk{position: absolute;
    width: 73px;
    height: 73px;
    background-color: #1E90FF;
    border-radius: 50px;
    left: 9rem;
    margin: -8rem 1rem 0rem 1.5rem;
}
.sin{position: absolute;
    width: 73px;
    height: 73px;
    background-color: #DC143C;
    border-radius: 50px;
    left: 9rem;
    margin: -8rem 1rem 0rem 1.5rem;
}
.csi{

   position: absolute;
    width: 73px;
    height: 73px;
    background-color: #c0c0c0;
    border-radius: 50px;
    left: 9rem;
    margin: -8rem 1rem 0rem 1.5rem;
}
h1{
color:white;	
}
.asd {    width: 27rem;
padding-left:0.5rem;
}

