body {
background-color: black;
text-align: center;
height:100%;
font-family: sans-serif;
margin: 0; 
}
.box{
text-shadow: 2px 3px 8px rgba(59, 37, 17, 0.35) ;
filter: drop-shadow( 10px 5px 2px aqua );
line-height: 1;
transition: 1s ease;
padding-top:3rem;
letter-spacing: 9px;
/* -webkit-transition: 2s ease; /* Safari and Chrome */ 
/* -moz-transition: 2s ease; /* Firefox 4 */ 
/* -o-transition: 2s ease; /* Opera */ 
/* -ms-transition: 2s ease; /* Opera */ 
}
.box:hover {
background-position: left;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent!important;
-ms-background-clip: text;
-ms-text-fill-color: transparent!important;
/* background-clip: text !important; */
/* -webkit-text-fill-color: transparent !important; */
/* -moz-text-fill-color: transparent !important; */
/* -ms-text-fill-color: transparent !important; */
}
a{
text-decoration:none;
-moz-text-decoration-line:none;
-webkit-text-decoration-line:none;
}
a:hover{
text-decoration:none;
/* -moz-text-decoration-line:none; */
/* -webkit-text-decoration-line:none; */
/* transition: 2s ease; */
/* -webkit-transition: 2s ease; /* Safari and Chrome */ 
/* -moz-transition: 2s ease; /* Firefox 4 */ 
/* -o-transition: 2s ease; /* Opera */
/* -ms-transition: 2s ease; /* Opera */ 
}
h5{
font-size: 2vw;
padding-top: 3rem;
padding-right: 7rem;
padding-left: 7rem;
background: url(images/beach.jpg) repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#showtext{
	padding-top:5rem;
	
}
